.description {
    padding: 10px;
}
.description-header{
    font-weight: bold;
}
.full-width {
    width: 100%;
}
.income-color, .income-color .fc-title {
    color: #0f0;
    font-weight: bold;
}
.expense-color, .expense-color .fc-title {
    color: #f00;
    font-weight: bold;
}
.negative-balance-color{
    color: #f00;
}

