.description {
    padding: 10px;
}
.description-header{
    font-weight: bold;
}
.full-width {
    width: 100%;
}
.income-color {
    color: #0f0;
}
.expense-color {
    color: #f00;
}
.negative-balance-color{
    color: #f00;
}

