.description {
    padding: 10px;
}
.description-header{
    font-weight: bold;
}
.full-width {
    width: 100%;
}
.income-color, .income-color .fc-title {
    color: #0d0;
    font-weight: bold;
}
.expense-color, .expense-color .fc-title {

    color: #e00;
    font-weight: bold;
}
.negative-balance-color{
    color: #e00;
    font-weight: bold;
    font-style: italic;
}
.positive-balance-color{
    color: #0d0;
    font-weight: bold;
    font-style: italic;
}